numpy
sympy
gmpy2
ipython
ipykernel
ipywidgets
ipython-genutils
jupyter
jupyter-console
jupyter-core
jupyter-server
jupyter_client
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
pandas
matplotlib
matplotlib-inline
PyQt6
PySide6
ipympl
